@model AlbumsViewModel
@using ChinookEntities
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>

<body>
    <div class="album-card-filter">
        <a href="~/Insert/Index/3" class="text-overflow-options">all</a>
        <a href="~/Insert/Index/3" class="text-overflow-options">singles</a>
        <a href="~/Insert/Index/3" class="text-overflow-options">albums</a>
        <a href="~/Insert/Index/3" class="text-overflow-options">add album</a>
    </div>

    <div class="grid-albums">
        @foreach (Artist artist in @Model.Artists)
        {
            @foreach (Album album in @Model.Albums)
            {
                @if (@album.ArtistId == @artist.ArtistId)
                {
                    <div class="album-card">
                        <a href="~/Tracks/Index/@album.AlbumId" class="album-card-text">
                            <div>
                                <p class="text-overflow-title">@album.Title</p>
                                <p class="text-overflow-artist">@artist.Name</p>
                            </div>
                        </a>

                        <div class="album-card-edit">
                            @* <a href="~/Tracks/Index/@album.AlbumId">details</a> *@
                            <a href="~/Update/Index/@album.AlbumId" class="text-overflow-artist">edit</a>
                            <a href="~/Delete/Index/@album.AlbumId" class="text-overflow-artist"
                                onclick="return confirm('Are you sure you want to delete @album.Title by @artist.Name?')">delete</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</body>

</html>